* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

body {
    height: 100vh;
    width: 100%;
}

#container {
    background-color: lightgrey;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 150px 1fr;
}

#header-section {
    background-color: lightblue;
}

#content-section {
    display: flex;
    flex-direction: column;
}