@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Playpen+Sans:wght@100..800&family=Schoolbell&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

body {
    height: 100vh;
    width: 100%;
}

#container {
    background-color: #213f37;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 150px 1fr;
    position: relative;
}

#header-section {
    background-color: #213f37;
}

#content-section {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: auto;
    gap: 10px 10px;

}

.grid-item {
    height: 150px;
    width: 150px;
    /* background-color: #264941; */
    cursor: pointer;
    font-size: 5rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Schoolbell";
    color: white;
    font-weight: 400;
}

#status-text {
    /* height: 50px;
    width: 500px;
    background-color: darkcyan; */
    margin-top: 50px;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Playpen Sans";
    color: white;
}

#player-info-dialog[open] {
    position: absolute;
    justify-self: center;
    align-self: center;
}

#player-info-dialog::backdrop {
    backdrop-filter: blur(2px);
}

#button-box {
    /* background-color: lightblue; */
    height: 50px;
    width: 470px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#button-box button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Schoolbell";
}
